
<header>

  <!-- MENU BLOCK -->
  <div class="menu_block">

    <!-- CONTAINER -->
    <div class="container clearfix">

      <!-- LOGO -->
      <div class="logo pull-left">
        <a><span class="b1">Sample App</span></a>
      </div>
      <!-- //LOGO -->
      <!-- MENU -->
      <div class="pull-right">
        <nav class="navmenu center">
          <ul>
            <li class="first active scroll_btn"><a routerLink="home">Home</a></li>
            <li class="scroll_btn"><a routerLink="event">Event</a></li>
            <li class="scroll_btn"><a routerLink="contact">Contact</a></li>
            <li class="scroll_btn"><a routerLink="about">About</a></li>

          </ul>
        </nav>
      </div><!-- //MENU -->
    </div><!-- //MENU BLOCK -->
  </div><!-- //CONTAINER -->
</header><!-- //HEADER -->
